# Application configuration files
/application.properties
/.env

# Build directories
target/
build/

# IDE specific files
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

# Maven wrapper
!.mvn/wrapper/maven-wrapper.jar

# Exclude all build directories except specific paths
!**/src/main/**/target/
!**/src/test/**/target/

# Exclude all build directories except specific paths
!**/src/main/**/build/
!**/src/test/**/build/

# Log files
*.log

# OS specific files
.DS_Store
Thumbs.db

# IDE-specific files
*.suo
*.user
*.userosscache
*.sln.docstates
